body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px !important;
  background-image: url("../images/login-bg.jpg");
}

.paddingzero {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* ################ Login ################## */

.login-box {
  text-align: center;
}

.login-signup {
  padding: 40px 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.form-group {
  margin: auto !important;
  padding: 10px !important;
}

.form-control {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
}

.input-group-text {
  font-size: 14px !important;
}

.errorWrap {
  width: 100%;
  padding: 15px 15px;
  margin: 0 0 20px 0;
  text-align: center;
  background: #fff;
  border-left: 4px solid #dd3d36;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.succWrap {
  width: 100%;
  padding: 15px 15px;
  margin: 0 0 20px 0;
  text-align: center;
  background: #fff;
  border-left: 4px solid #5cb85c;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}


/*#################### Signup ######################## */

.star {
  color: red;
}
